//--------------------------------//
//--------------LOGO--------------//
//--------------------------------//

.logo {
    height: 3.25rem;
}

//--------------------------------//
//-----------SEARCH BOX-----------//
//--------------------------------//

.search {
    &__input {

    }

    &__btn {

    }

    &__icon {
        // Adjust as needed
        height: 2rem;
        width: 2rem;
    }
}

//--------------------------------//
//-----------USER DOCK------------//
//--------------------------------//


.user-dock {
    &__icon-box {

    }

    &__icon {
        // Adjust as needed
        height: 2.25rem;
        width: 2.25rem;
    }

    &__notification {

    }

    &__user {
        &-img {
            height: 3.75rem;
            border-radius: 50%;
        }
        &-name {

        }
    }
}

//--------------------------------//
//-----------USER DOCK------------//
//--------------------------------//