.container {
    max-width: 120rem;
    margin: 10rem auto;
    box-shadow: var(--shadow-1);

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

}

.header {
    height: 8rem;
    background-color: var(--color-white);
    border-bottom: var(--border-1);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 12rem;
    }
}

.content {
    display: flex;
    
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    // width of sidebar
    flex: 0 0 20%;
    background-color: var(--color-black-2);

    // For the children
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media only screen and (max-width: $bp-medium) {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

}

.product-display {
    // width of display (remaining width)
    flex: 1;

}

.product-detail {
    display: flex;
    padding: 4rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--border-1);
    font-size: 1.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    flex: 0 0 70%;
    margin-right: 4rem;
    padding: 3rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow-2);

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.bids {
    flex: 1;
    // To center that link button at the bottom
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
        flex-direction: row;
        justify-content: space-around;
    }
    
}

