:root {
  --color-white: #fefefe;
  --color-black: #1a1918;
  --color-shadow: rgba(26, 25, 24, .3);
  --color-grey-light-1: #f6f6f6;
  --color-grey-light-2: #eeeeed;
  --color-grey-light-3: #e6e5e4;
  --color-grey-light-4: #dedddb;
  --color-grey-dark-1: #c5c4c1;
  --color-grey-dark-2: #b5b3af;
  --color-grey-dark-3: #9d9a94;
  --color-grey-dark-4: #8c8983;
  --color-primary: #ed4e14;
  --color-primary-light-1: #f38963;
  --color-primary-light-2: #f07244;
  --color-primary-dark-1: #cf4310;
  --color-primary-dark-2: #af390e;
  --color-secondary: #00cec9;
  --color-secondary-light-1: #02fff9;
  --color-secondary-light-2: #00f0ea;
  --color-secondary-dark-1: #009b97;
  --color-secondary-dark-2: #007976;
  --shadow-1: 0 1rem 6rem var(--color-shadow); }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Overpass Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-black);
  min-height: 100vh; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none;
  color: inherit; }

.logo {
  height: 3.25rem;
  margin-left: 3rem; }

.search {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: 1rem 2rem;
    margin-right: -2.5rem;
    border: none;
    border-radius: 5rem;
    width: 85%;
    transition: all .5s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 300;
      color: var(--color-grey-dark-2); }
  .search__input:focus + .search__btn {
    background-color: var(--color-grey-light-3); }
  .search__btn {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__btn:focus {
      outline: none; }
    .search__btn:active {
      transform: translateY(0.2rem); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-4); }

.user-dock {
  background-color: var(--color-primary-light-1); }
  .user-dock__icon {
    height: 2.25rem;
    width: 2.25rem; }
  .user-dock__user-img {
    height: 3.75rem;
    border-radius: 50%; }

.container {
  max-width: 120rem;
  margin: 10rem auto;
  background-color: var(--color-grey-dark-1);
  box-shadow: var(--shadow-1);
  min-height: 50rem; }

.header {
  height: 8rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-light-3);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-white); }

.product-display {
  flex: 1;
  background-color: var(--color-secondary); }
