:root {
  --color-white: #fefefe;
  --color-black: #1a1918;
  --color-black-2: rgba(26, 25, 24, .7);
  --color-shadow: rgba(26, 25, 24, .3);
  --color-shadow-light: rgba(26, 25, 24, .05);
  --color-shadow-dark: rgba(26, 25, 24, .5);
  --color-grey-light-1: #f6f6f6;
  --color-grey-light-2: #eeeeed;
  --color-grey-light-3: #e6e5e4;
  --color-grey-light-4: #dedddb;
  --color-grey-dark-1: #c5c4c1;
  --color-grey-dark-2: #b5b3af;
  --color-grey-dark-3: #9d9a94;
  --color-grey-dark-4: #8c8983;
  --color-primary: #ed4e14;
  --color-primary-light-1: #f38963;
  --color-primary-light-2: #f07244;
  --color-primary-dark-1: #cf4310;
  --color-primary-dark-2: #af390e;
  --color-secondary: #00cec9;
  --color-secondary-light-1: #02fff9;
  --color-secondary-light-2: #00f0ea;
  --color-secondary-dark-1: #009b97;
  --color-secondary-dark-2: #007976;
  --shadow-1: 0 1rem 6rem var(--color-shadow);
  --shadow-2: 0 2rem 4rem var(--color-shadow-light);
  --border-1: 1px solid var(--color-grey-light-3); }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Overpass Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-black);
  min-height: 100vh; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none;
  color: inherit; }

.logo {
  height: 4.5rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: 1rem 2rem;
    margin-right: -2.5rem;
    border: none;
    border-radius: 5rem;
    width: 85%;
    transition: all .5s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 300;
      color: var(--color-grey-dark-2); }
  .search__btn {
    border: none;
    background-color: transparent; }
    .search__btn:focus {
      outline: none; }
    .search__btn:active {
      transform: translateY(0.2rem); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-4); }

.user-dock {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-dock > * {
    height: 100%;
    padding: 0 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .user-dock > *:hover, .user-dock > *:active {
      background-color: var(--color-grey-light-4); }
  .user-dock__icon-box {
    position: relative; }
  .user-dock__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-4); }
  .user-dock__notification {
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: .8rem;
    position: absolute;
    top: 2rem;
    right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-dock__user-img {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 4rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 1rem; }
  .side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.4s, width 0.6s cubic-bezier(0.97, 0.16, 0, 1) 0.3s, background-color 0.3s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item--active::before {
    background-color: var(--color-secondary-dark-1); }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light-2); }
  .side-nav__link:link, .side-nav__link:visited {
    display: inline-block;
    padding: 1.5rem 3.5rem;
    color: var(--color-grey-light-4);
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    fill: currentColor; }

.side-footer {
  text-align: center; }
  .side-footer__item {
    display: inline-block;
    transition: transform .5s; }
    .side-footer__item:not(:first-child) {
      margin-left: 1.5rem; }
    .side-footer__item:hover {
      transform: translateY(-1rem); }
    .side-footer__item:active {
      transform: translateY(-0.5rem); }
  .side-footer__link:link, .side-footer__link:visited {
    display: inline-block;
    color: var(--color-grey-light-4); }
  .side-footer__icon {
    width: 2.75rem;
    height: 2.75rem;
    fill: currentColor; }
    .side-footer__icon:hover {
      fill: var(--color-primary);
      filter: drop-shadow(0.5rem 1rem 0.5rem var(--color-shadow)); }
    .side-footer__icon:active {
      fill: var(--color-primary-light-2);
      filter: drop-shadow(0.3rem 0.7rem 0.2rem var(--color-shadow-dark)); }
  .side-footer__copyright {
    color: var(--color-grey-light-4);
    font-size: 1.2rem;
    padding: 3rem; }

.gallery {
  display: flex; }
  .gallery__item {
    filter: opacity(0.5); }
    .gallery__item--current {
      filter: opacity(1); }
  .gallery__img {
    display: block;
    width: 100%; }

.overview {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  border-bottom: var(--border-1);
  background-color: var(--color-grey-light-2); }
  .overview__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    padding: 2rem 3rem; }
  .overview__timer {
    margin-right: auto;
    display: flex;
    align-items: center; }
  .overview__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary);
    margin-right: 1rem; }
  .overview__seller {
    display: flex;
    align-items: center;
    align-self: stretch; }
    .overview__seller-img {
      height: 3rem;
      width: 3rem;
      border-radius: 50rem;
      margin-right: 1rem; }
    .overview__seller-name {
      display: inline-block;
      padding-bottom: 0.2rem;
      color: var(--color-primary);
      font-size: inherit;
      border-bottom: 1px solid currentColor;
      transition: all .5s; }
      .overview__seller-name:hover {
        color: var(--color-secondary-dark-1); }
      .overview__seller-name:focus {
        animation: pulse 1.5s infinite; }

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: var(--shadow-1); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.karma {
  background-color: var(--color-secondary-dark-1);
  color: var(--color-white);
  margin-left: 3rem;
  padding: 0.5rem 2.5rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .karma__rating {
    font-size: 2rem;
    font-weight: 300; }
  .karma__icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--color-primary); }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  margin: 2.5rem 0;
  padding: 2rem 0;
  border-top: var(--border-1);
  border-bottom: var(--border-1);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 1rem; }
  .list__item::before {
    content: '';
    display: inline-block;
    height: 1.5rem;
    width: 2rem;
    background-color: var(--color-secondary);
    -webkit-mask-image: url(../img/SVG/chevron-small-right.svg);
    mask-image: url(../img/SVG/chevron-small-right.svg);
    -webkit-mask-size: cover;
    mask-size: cover; }

.bidders {
  font-size: 1.2rem;
  color: var(--color-grey-dark-4);
  display: flex;
  align-items: center; }
  .bidders__text {
    margin-right: auto; }
    .bidders__text--highlight {
      color: var(--color-primary-dark-1); }
  .bidders__img {
    box-sizing: content-box;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50rem;
    border: 0.25rem solid var(--color-white); }
    .bidders__img:not(:last-child) {
      margin-right: -1.5rem; }
  .bidders__link:link, .bidders__link:visited {
    display: inline-block;
    margin-left: 1.5rem;
    padding: .5rem 0;
    border-bottom: 1px solid transparent;
    transition: all .5s; }
  .bidders__link:hover {
    color: var(--color-secondary-dark-1);
    border-bottom: 1px solid var(--color-secondary-dark-1); }
  .bidders__link:active {
    color: var(--color-primary-dark-1);
    border-bottom: 1px solid var(--color-primary-dark-1); }

.container {
  max-width: 120rem;
  margin: 10rem auto;
  box-shadow: var(--shadow-1);
  min-height: 50rem; }

.header {
  height: 8rem;
  background-color: var(--color-white);
  border-bottom: var(--border-1);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 20%;
  background-color: var(--color-black-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.product-display {
  flex: 1; }

.product-detail {
  display: flex;
  padding: 4rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--border-1); }

.description {
  flex: 0 0 70%;
  margin-right: 4rem;
  padding: 3rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-2);
  font-size: 1.5rem; }

.bids {
  flex: 1;
  background-color: red; }
